/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: "JosefinSans-Bold.ttf";
  src: url("/fonts/josefin-sans/JosefinSans-Bold.ttf");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  overflow-x: hidden;
}

.black {
  background: black;
  color: white;
}

.pc-nav {
  display: none;
}
.pc-nav .dark {
  height: 40px;
  width: 40px;
  margin-left: 100px;
}

.mobile-nav {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav .hamburger {
  height: 4rem;
  width: 4rem;
  border: 1px solid black;
  gap: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-nav .hamburger .line {
  height: 2px;
  width: 70%;
  background: black;
}

.banner {
  font-family: "JosefinSans-Bold.ttf";
}
.banner .left .text h1 {
  font-weight: bolder;
  font-family: "JosefinSans-Bold.ttf";
}
.banner .left .text p {
  font-family: "JosefinSans-Bold.ttf";
}
.banner .left .btn {
  display: flex;
  justify-content: space-evenly;
}
.banner .left .btn button {
  border: none;
  background-color: purple;
  width: 8rem;
  color: white;
}
.banner .left .btn button1 {
  background-color: white;
  width: 8rem;
  color: black;
  border: 3px solid purple;
}
.banner .left .tags {
  display: flex;
}
.banner .left .tags img {
  flex-direction: row;
  width: 30px;
  height: 30px;
  margin-top: 20px;
}
.banner .left .tag p1 {
  color: purple;
}
.banner .right .cards {
  display: flex;
}

.media {
  margin: 2rem 0;
}
.media .container .row .left .text-img {
  margin-top: 2rem;
}
.media .container .row .left .images {
  display: flex;
  position: relative;
}
.media .container .row .left .images img {
  height: 60%;
  width: 40%;
}
.media .container .row .left .images .pic {
  margin-top: 100px;
}
.media .container .row .left .images .pic img {
  height: 100%;
  width: 80%;
}
.media .container .row .right {
  margin: 4rem 0;
}
.media .container .row .right .image-one img {
  height: 60vh;
  width: 100%;
}
.media .container .row .right .image-one img .text-three p {
  padding-top: 5rem;
}
.media button {
  background: darkviolet;
  border: none;
  color: white;
  width: 8rem;
  height: 2rem;
}

.services .container .gallery {
  padding-top: 2rem;
  gap: 10px;
  margin-left: 4rem;
  display: flex;
}
.services .container .gallery .pics {
  width: 30vw;
  position: relative;
}
.services .container .gallery .pics img {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.services .container .gallery .pics h3 {
  align-items: last baseline;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0px;
  padding-left: 8rem;
}
.services .container .gallery .pics .pic {
  background-color: purple;
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.services .container .gallery .card-one {
  background: purple;
  color: white;
  height: 40vh;
}
.services .container .gallery .card-one span {
  text-decoration: underline;
}
.services .container .gallery .card-one .texting {
  position: relative;
  padding: 2rem;
  width: 100%;
}
.services .container .gallery .card-one .texting .pic-pic {
  background-color: white;
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.clients {
  margin-top: 3rem;
}
.clients .container .row .left .our-clients .forward {
  position: relative;
}
.clients .container .row .left .our-clients .forward .forward-pic {
  background-color: purple;
  height: 20px;
  width: 30px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.clients .container .row .left .our-clients .forward img {
  width: 100%;
}
.clients .container .row .left .our-clients .company {
  padding-top: 1rem;
}
.clients .container .row .right {
  margin-top: 2rem;
}
.clients .container .row .right .forward {
  position: relative;
}
.clients .container .row .right .forward .forward-pic {
  background-color: purple;
  height: 20px;
  width: 30px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.clients .container .row .right .forward img {
  width: 100%;
}
.clients .container .row .right img {
  width: 100%;
}
.clients .container .row .right .bride {
  padding-top: 1rem;
}

.instagram {
  margin-top: 3rem;
}
.instagram .container .seen {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.instagram .container .insta {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.instagram .container .insta img {
  width: 15%;
  gap: 50px;
}
.instagram .container .insta .second-pic {
  position: relative;
  top: 5rem;
}
.instagram .container .tig {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.instagram .container .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.instagram .container .btn button {
  background: darkviolet;
  color: white;
  width: 7rem;
  height: 3rem;
  border: none;
}

.footer {
  background: darkviolet;
  margin-top: 2rem;
}
.footer .container {
  margin-top: 2rem;
}
.footer .container .row .left {
  padding-left: 6rem;
}
.footer .container .row .left .icon {
  display: flex;
  color: white;
  padding-top: 20px;
  gap: 10px;
}
.footer .container .row .left .icon img {
  height: 100%;
}
.footer .container .row .left .icon .copy {
  width: 65%;
}
.footer .container .row .left .icons-two {
  display: flex;
  gap: 20px;
}
.footer .container .row .left-two {
  display: flex;
  gap: 10px;
  padding-top: 2rem;
  font-size: medium;
  line-height: 1rem;
}
.footer .container .row .left-two .center {
  color: white;
}
.footer .container .row .left-two .center span {
  text-decoration: underline;
}
.footer .container .row .left-two .mid {
  color: white;
}
.footer .container .row .left-two .mid span {
  text-decoration: underline;
}
.footer .container .row .left-two .end {
  color: white;
}
.footer .container .row .left-two .end span {
  text-decoration: underline;
}
.footer .container .row .left-two .end .contact {
  display: flex;
  gap: 10px;
}
.footer .container .row .left-two .end .contact img {
  height: 100%;
}

.active {
  display: block !important;
}

.hide {
  display: none;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
  .pc-nav {
    display: block;
  }
  .pc-nav .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pc-nav .flex-container ul {
    display: flex;
    color: black;
    gap: 12px;
  }
  .pc-nav .flex-container ul li {
    color: black;
    font-size: 20px;
  }
  .pc-nav .flex-container ul li span {
    color: rgb 128, 34, 140;
  }
  .pc-nav .flex-container ul .img1 {
    height: 30px;
    width: 30px;
  }
  .banner .left .text {
    margin-top: 50px;
  }
  .banner .left .text h1 {
    width: 100%;
    font-size: 30px;
  }
  .banner .left .text .btn {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .banner .left .text button {
    margin-right: 40px;
    gap: 10px;
    width: 10rem;
  }
  .banner .left .text .button1 {
    width: 10rem;
  }
  .banner .right .cards {
    display: flex;
    flex-direction: row;
  }
  .banner .right .cards .first-pic {
    position: relative;
    top: 50px;
  }
  .media {
    margin: 5rem 0;
  }
  .media .container .row .left .text-img {
    margin-left: 5rem;
  }
  .media .container .row .left .text-img .text {
    font-weight: 500;
    width: 50%;
  }
  .media .container .row .left .text-img .text .images {
    display: flex;
    flex-direction: row;
    width: 2rem;
  }
  .media .container .row .left .text-img .text .images .pic {
    position: relative;
    top: 100px;
  }
  .media .container .row .right {
    margin: 4rem 0;
  }
  .media .container .row .right .image-one img {
    height: 30vh;
    width: 100%;
  }
  .media .container .row .right .image-one img .text-three p {
    padding-top: 5rem;
  }
  .services .container .gallery {
    gap: 10px;
    display: flex;
  }
  .services .container .gallery .pics {
    width: 30vw;
    position: relative;
  }
  .services .container .gallery .pics img {
    width: 100%;
    height: 40vh;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
  .services .container .gallery .pics .text-h3 {
    position: absolute;
    top: 5px;
    background-color: blue;
    align-items: center;
  }
  .services .container .gallery .pics .text-h3 h3 {
    align-items: baseline;
    text-align: center;
    color: aqua;
  }
  .services .container .gallery .card-one {
    background: purple;
    color: white;
    width: 30vw;
    height: 40vh;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .banner .left .text {
    margin-top: 50px;
  }
  .banner .left .text h1 {
    width: 100%;
    font-size: 30px;
  }
  .banner .left .btn {
    display: flex;
    gap: 15px;
    padding-left: 0.1rem;
  }
  .banner .left .btn button {
    border: none;
    background-color: purple;
    width: 8rem;
    color: white;
    gap: 10px;
  }
  .banner .left .btn button1 {
    background-color: white;
    width: 8rem;
    color: black;
    border: 3px solid purple;
  }
  .banner .left .tags {
    display: flex;
  }
  .banner .left .tags img {
    width: 30px;
    height: 30px;
    margin-top: 0;
  }
  .banner .right .cards {
    display: flex;
    flex-direction: row;
  }
  .banner .right .cards .first-pic {
    position: relative;
    top: 50px;
  }
  .media {
    margin: 5rem 0;
  }
  .media .container .row .left .text-img {
    margin-left: 5rem;
  }
  .media .container .row .left .text-img .text {
    font-weight: 500;
    width: 50%;
  }
  .media .container .row .left .text-img .text .images {
    display: flex;
    flex-direction: row;
    width: 2rem;
  }
  .media .container .row .left .text-img .text .images .pic {
    position: relative;
    top: 100px;
  }
  .media .container .row .right {
    margin: 4rem 0;
  }
  .media .container .row .right .image-one img {
    height: 30vh;
    width: 100%;
  }
  .media .container .row .right .image-one img .text-three p {
    padding-top: 5rem;
  }
  .services .container .gallery {
    gap: 10px;
    display: flex;
  }
  .services .container .gallery .pics {
    width: 30vw;
    position: relative;
  }
  .services .container .gallery .pics img {
    width: 100%;
    height: 40vh;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
  .services .container .gallery .pics .text-h3 {
    position: absolute;
    top: 5px;
    background-color: blue;
    align-items: center;
  }
  .services .container .gallery .pics .text-h3 h3 {
    align-items: baseline;
    text-align: center;
    color: aqua;
  }
  .services .container .gallery .card-one {
    background: purple;
    color: white;
    width: 30vw;
    height: 40vh;
  }
  .clients {
    margin-top: 3rem;
  }
  .clients .container .row .left .our-clients .forward {
    position: relative;
  }
  .clients .container .row .left .our-clients .forward .forward-pic {
    background-color: purple;
    height: 20px;
    width: 30px;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .clients .container .row .left .our-clients .forward img {
    width: 100%;
  }
  .clients .container .row .left .our-clients .company {
    padding-top: 1rem;
  }
  .clients .container .row .right {
    margin-top: 2rem;
  }
  .clients .container .row .right img {
    width: 100%;
  }
  .footer {
    background: darkviolet;
    margin-top: 2rem;
    padding: 2rem;
  }
  .footer .container {
    margin-top: 2rem;
    margin-left: 6rem;
  }
  .footer .container .row {
    display: flex;
  }
  .footer .container .row .icon {
    display: flex;
    color: white;
    padding-top: 20px;
    gap: 10px;
  }
  .footer .container .row .icon img {
    height: 100%;
  }
  .footer .container .row .icon .copy {
    width: 65%;
  }
  .footer .container .row .icons-two {
    display: flex;
    gap: 20px;
  }
  .footer .container .row .center {
    color: white;
  }
  .footer .container .row .center span {
    text-decoration: underline;
  }
  .footer .container .row .mid {
    color: white;
  }
  .footer .container .row .mid span {
    text-decoration: underline;
  }
  .footer .container .row .end {
    color: white;
  }
  .footer .container .row .end span {
    text-decoration: underline;
  }
  .footer .container .row .end .contact {
    display: flex;
    gap: 10px;
  }
  .footer .container .row .end .contact img {
    height: 100%;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .pc-nav .flex-container .ul {
    gap: 85px;
  }
  .media {
    margin: 5rem 0;
  }
  .media .container .row .left .text-img {
    margin-left: 5rem;
  }
  .media .container .row .left .text-img .text {
    font-weight: 500;
    width: 50%;
  }
  .media .container .row .left .text-img .text .images {
    display: flex;
    flex-direction: row;
    width: 2rem;
  }
  .media .container .row .left .text-img .text .images .pic {
    position: relative;
    top: 100px;
  }
  .media .container .row .right {
    margin: 4rem 0;
  }
  .media .container .row .right .image-one img {
    height: 60vh;
    width: 100%;
  }
  .media .container .row .right .image-one img .text-three p {
    padding-top: 5rem;
  }
  .services .container .gallery {
    gap: 10px;
    display: flex;
  }
  .services .container .gallery .pics {
    width: 30vw;
    position: relative;
  }
  .services .container .gallery .pics img {
    width: 100%;
    height: 75vh;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
  .services .container .gallery .pics .text-h3 {
    position: absolute;
    top: 5px;
    background-color: blue;
    align-items: center;
  }
  .services .container .gallery .pics .text-h3 h3 {
    align-items: baseline;
    text-align: center;
    color: aqua;
  }
  .services .container .gallery .card-one {
    background: purple;
    color: white;
    width: 30vw;
    height: 75vh;
  }
  .clients {
    padding: 6rem;
  }
  .clients .container .row .left .our-clients {
    margin: 3rem;
    padding-left: 5rem;
  }
  .clients .container .row .left .our-clients img {
    width: 100%;
  }
  .clients .container .row .left .our-clients .company {
    padding-top: 1rem;
  }
  .clients .container .row .right {
    margin-top: 2rem;
  }
  .clients .container .row .right img {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
}
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
/* Set width to make card deck cards 100% width *//*# sourceMappingURL=style.css.map */